*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.body-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: space-between;
  gap: 4rem;
}
.container-img{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  border-radius: 50%;
  background: #f2a365;

}
img{
  width: 400px;
  height: 400px;
  padding: 2px;
  object-fit: cover;
  border-radius: 50%;
  background: #f2a365;
  box-shadow: 0 0 0.5rem rgba(0,0,0,0.5);

}
.body-container-left{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  margin-top: 20px;
}
.body-container-left-h1{
  font-size: 2rem;
  font-weight: 600;
  color: #f2a365;
  text-shadow: 0 0 0.5rem rgba(255, 255, 255, 0.5);
}
.body-container-left-p1{
  font-size: 1rem;
  font-weight: 600;
  text-shadow: 0 0 0.5rem rgba(255, 255, 255, 0.5);
}
.body-container-left-p2{
  font-size: 1rem;
  margin: 20px 50px 20px 50px;
  text-align: center;
  letter-spacing: 1px;
  line-height: 1.5;
  font-weight: 300;
  text-shadow: 0 0 0.5rem rgba(255, 255, 255, 0.5);
}
.body-container-right{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}
.body-h2{
  font-size: 2rem;
  font-weight: 600;
  color: #f2a365;
  text-shadow: 0 0 0.5rem rgba(255, 255, 255, 0.5);
}
.body-container-right-p{
  letter-spacing: 0.5px;
  line-height: 1.2;
  font-weight: 300;
  padding: 0px 50px 0px 50px;
  text-align: center;
}