*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.body-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2rem;
  align-items: center;
  justify-content: space-between;
  gap: 4rem;
  margin-left: 20px;
  margin-right: 20px;
}
.container-img{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  border-radius: 50%;
  background: var(--primary-color);

}
.img1{
  width: 400px;
  height: 400px;
  padding: 2px;
  object-fit: cover;
  border-radius: 50%;
  background: var(--primary-color);
}
.body-container-left{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  margin-top: 30px;
  margin-bottom: 40px;
}
.body-container-left-h1{
  font-size: 3rem;
  font-weight: 600;
  color: var(--primary-color);
}
.body-right{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 2.5rem;
  margin-top: 30px;
  margin-bottom: 40px;
}
.body-container-right-p1{
  font-size: 2rem;
  font-weight: 600;
}
.body-container-right-p2{
  font-size: 1.2rem;
  text-align: center;
  letter-spacing: 1px;
  line-height: 1.5;
  font-weight: 400;
}