/* General container */
.cards-container {
  margin: 30px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  max-width: 1200px;
  padding: 0 20px;
}

/* Each card */
.card {
  width: 100%;
  max-width: 900px;
  text-align: center;
  background: var(--light-background);
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Titles */
.cards-h2 {
  font-size: 2rem;
  font-weight: 600;
  color: var(--primary-color);
  margin-bottom: 10px;
}

/* Paragraphs */
.cards-text {
  font-size: 1.2rem;
  text-align: center;
  line-height: 1.6;
  font-weight: 400;
  color: var(--text-color);
}

/* Tech stack icons */
.stack-icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  margin-top: 20px;
}

/* Icon containers */
.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--light-color);
  width: 70px;
  height: 70px;
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease-in-out;
}

.icon-container:hover {
  transform: scale(1.1);
}

/* Icons */
.image-stack {
  width: 50px;
  height: 50px;
}

/* Python icon (larger) */
.image-stack-python {
  transform: scale(1.2);
}
