*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.contact-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 4rem;
  padding: 1rem;
  margin-top: 1rem;
}

.contact-container-button:hover{
  cursor: pointer;
  text-shadow: 0 0 0.5rem rgba(255, 255, 255, 0.5);
}
.button-gradient-light {
  background: linear-gradient(to right, #f2a365, #ffe066);
  border: none;
  color: #333;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  transition: 0.5s;
}
.button-gradient-light:hover {
  background: linear-gradient(to right, #ffe066, #f2a365);
  color: #fff;
}
.button-gradient-dark {
  background-color: #fff;
  border: 2px solid #f2a365;
  color: #f2a365;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 50px;
  transition: 0.3s;
}

.button-gradient-dark:hover {
  background-color: #f2a365;
  color: #fff;
}
.button-3d-light {
  background-color: #f2a365;
  border: none;
  color: #fff;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  box-shadow: 0px 5px #c88452;
  transition: 0.3s;
}

.button-3d-light:hover {
  background-color: #f2a365;
  box-shadow: 0px 2px #c88452;
  transform: translateY(3px);
}
.button-3d-dark {
  background-color: #2a5298;
  border: none;
  color: #fff;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  box-shadow: 0px 5px #1e3c72;
  transition: 0.3s;
}

.button-3d-dark:hover {
  background-color: #2a5298;
  box-shadow: 0px 2px #1e3c72;
  transform: translateY(3px);
}